[Unit]
Description=Cgroups service
After=network.target cgconfig.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/etc/systemd/cgrules

[Install]
WantedBy=multi-user.target
